* {
  box-sizing: border-box;
}

body {
    background-color: #0000aa;
  font-family: 'VT323', monospace;
  color: white;
}

/* ------------------ NAVIGATION ------------------ */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  border-bottom: 4px solid red;
  font-family: 'Press Start 2P', monospace;
}

.logo {
  height: 4em;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: lowercase;
}

.nav-links li a.active {
  text-decoration: underline;
}

.nav-links li a:hover {
  background-color: red;
  color: white;
  padding: 0 5px;
}

.retro-button {
  background-color: #fefefe;
  border: 2px solid #000;
  padding: 8px 16px;
  margin: 5px;
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 2px 2px 0 #000;
}

.retro-button:hover {
  background-color: #ff00ff;
  color: #000;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: #ff4444;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10;
}

.zoom-img,
#videoPlayer {
  width: 100%;
  max-width: 600px;
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.zoomed {
  transform: scale(1.5);
  cursor: zoom-out;
}

.back-button {
  display: inline-block;
  margin: 3rem 0 1rem;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'Press Start 2P', monospace;
  background-color: #66e0ff;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-decoration: none;
  border: 3px solid #000;
  box-shadow: 4px 4px 0 #000;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0033cc;
  color: white;
  box-shadow: 2px 2px 0 #000;
}

.return-link {
  font-family: 'VT323', monospace;
  color: #ccc;
  text-decoration: underline;
  display: inline-block;
  margin-top: 20px;
  font-size: 1.2rem;
}

.return-link:hover {
  color: #ff0;
}
