 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0000aa;
  color: #fff;
  font-family: 'Press Start 2P', monospace;
  padding: 2rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid red;
  padding: 20px;
}

.logo {
  height: 3.5em;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #0dff35;
  background-color: darkblue;
  padding: 4px 8px;
  border-radius: 4px;
}

.nav-links li a.active {
  color: orange;
  text-decoration: underline;
}

.main-container {
  text-align: center;
  margin-top: 3rem;
}

.page-title {
  font-size: 2.5rem;
  color: #00ffff;
  margin-bottom: 1rem;
}

.project-intro {
   font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #fff;
}

.project-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.project-buttons button {
  background: #44ff44;
  color: #000;
  border: 2px solid #fff;
  padding: 1rem 1.5rem;
  font-size: 0.8rem;
  font-family: 'Press Start 2P', monospace;
  box-shadow: 4px 4px #222;
  cursor: pointer;
  transition: background 0.3s ease;
}

.project-buttons button:hover {
  background: #33cc33;
}

/* Modals */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  overflow-y: auto;
  padding: 2rem;
}

.modal-content {
  background: #111;
  border: 2px dashed #00ffff;
  padding: 2rem;
  max-width: 800px;
  margin: 3rem auto;
  color: #fff;
  position: relative;
  text-align: center;
  box-shadow: 0 0 15px #ff00ff;
}

.modal-content img,
.modal-content video {
  width: 100%;
  max-width: 100%;
  border: 2px solid #444;
  margin: 1rem 0;
}

.zoom-image {
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.zoom-image:hover {
  transform: scale(1.5);
  cursor: zoom-out;
}

.retro-close {
  font-size: 0.9rem;
  font-family: 'Press Start 2P', monospace;
  background: #ff00ff;
  color: #000;
  border: 2px solid #00ffff;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.enlarged-video {
  width: 100%;
  max-width: 95vw;
  height: auto;
  border: 4px solid #00ffff;
  border-radius: 10px;
  box-shadow: 0 0 12px #ff00ff;
}

@media (max-width: 768px) {
  .project-buttons {
    flex-direction: column;
  }
  .page-title {
    font-size: 2rem;
  }
}
